<footer class="footer">
  <div class="footer-line"></div>
  <div class="g-container">
    <div class="row">
      <div class="col-md-12">
        {% if informations %}
          <ul class="list-unstyled info-link">
           {% for information in informations %}
            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="logo" class="text-center">
            <img src="image/catalog/logo.png" title="footer-logo" alt="footer-logo" class="img-fluid" />
        </div>
        <p class="powered text-center">{{ powered }}</p>
      </div>
      <div class="col-md-4">
        <ul class="social-link">
          <li>
            <a href="#!">
              <img src="image/catalog/instagram.png" alt="">
            </a>
          </li>
          <li>
            <a href="#!">
              <img src="image/catalog/telegram.png" alt="">
            </a>
          </li>
          <li>
            <a href="#!">
              <img src="image/catalog/facebook.png" alt="">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="address">
          <li>
            <img src="image/catalog/map.png" alt="">
            <span>Amir Temur Str, Tashkent, Uzb, Узбекистан</span>

          </li>
          <li>
            <img src="image/catalog/telephone.png" alt="">
            <span>+998(97) 707-17-17</span>
          </li>
        </ul>
      </div>
    </div>
   
  </div>
</footer>
<script src="catalog/view/theme/gostore/js/main.js"></script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>

